<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalpabrikshya Holdings</title>
    <!-- testimonials -->
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!-- animation link -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- fontawesome cdn link -->
   <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <nav class="navbar">
        <img src="/img/kalpa50.png" alt="">
        <!-- <h3>logo</h3> -->
       
         <ul class="navlink">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/whykalpabrikshay">Why Kalpabrikshay</a></li>
            <li><a href="/ourinvestment">Our Investments</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signUp">SingUp</a></li>
        </ul> 

        <!-- <button class="btn">Free Consultant</button> -->
    </nav>

    <!-- main section start from here  -->


    <main>

        <div class="main-sec">
            <img class="back-img" src="/img/2 finance.jpg" alt="finance related image">
            <div class="heading" data-aos="fade-down">
                <p class="para">Safe investments are our responsibility. <br> सुरक्षित लगानी, हाम्रो जिम्मेवारी !
                </p>
                <h3 class="head">Kalpabrikshay Will Give <br> <span class="role"></span> </h3>            
                <p class="para">Kalpabrikshya Holdings is an investment company based in Kathmandu, Nepal, focused <br>  on investing in early-stage technology startups. 
                    Founded in 2022, the company is known <br>  for its unique investment strategy and portfolio of innovative companies. </p>
                <!-- <a href="/contact"><button class="btn">Contact Us</button></a> -->
            </div>
        </div>
    </main>

     <!-- ----------------------------hiro sectoin start from here---------------------------- -->

     <section>
        <div class="topsec">
            <p class="left-hiro-para">About Kalpabrikshya</p>
            <div class="topheading">
                Kalpabrikshya Holdings Pvt. Ltd. was established in October 2022 with a focus on strengthening <br> Nepalese enterprises, guided by core principles of integrity, innovation, collaboration, <br> professionalism, transparency and accountability. 
                <br> <br> 
                Our vision is to be recognized as a trustworthy and all-round partner capable of ensuring maximum returns on your investments. 
                <br>  <br>                
                Our mission is to transform into a listed public company in Nepal. 
            </div>
        </div>



     <section class="project-sec1">   
        <h1 class="headObj head">Our Objectives</h1>
        <div class="mainGrid">
    
           <div class="card1">
             <!-- <img src="/img/data.gif" alt="" height="78px" width="78px"> -->
             <img src="/img/animated img/anim4.gif" alt="" height="185px" width="180px">
           <div class="cardhead1">
            <h1> Agriculture</h1>
            <p class="left-hiro-para1">We invest in agri-businesses to help them both in the short and long-term. We do this by purchasing shares in agri-businesses that produce agricultural goods as well as medicinal/ herbal products. In addition to supporting pre-existing entities, Kalpabrikshya is also keen on commencing our own work in the agricultural sector. </p>
            <a href="https://aavatechnepal.com" target="_blank"><button class="btn gridBtn">Learn More</button></a>
           </div>
           </div>
    
           <div class="card1">
             <!-- <img src="/img/data.gif" alt="" height="78px" width="78px"> -->
             <img src="/img/animated img/anim1.gif" alt="" height="185px" width="180px">
            <div class="cardhead2">
                <h1> IT and Digitization </h1>
                <p class="left-hiro-paraa2">Kalpabrikshya’s investments in the IT and Digitization sector are done by applying our own marketing strategies as well as outsourcing work on marketing & consultancies. </p>
                <a href="https://aavatechnepal.com" target="_blank"><button class="btn gridBtn">Learn More</button></a>

               </div>
           </div>
    
           <div class="card1">
             <!-- <img src="/img/data.gif" alt="" height="78px" width="78px"> -->
             <img src="/img/animated img/anim3.gif" alt="" height="185px" width="180px">
            <div class="cardhead3">
                <h1> Tourism</h1>
                <p class="left-hiro-para3">At Kalpabrikshya, we know the value of investing in the travel & tourism sector of Nepal. We’re determined to put our country on the map as a leading destination for those looking to get away in the pristine Himalayas, explore vast tea gardens and immerse in the country’s unique cultures. We are keen to establish our own travel & tourism company, or invest in a partner with our shared vision.</p>
                <a href="https://aavatechnepal.com" target="_blank"><button class="btn gridBtn">Learn More</button></a>
               </div>
           </div>


           <div class="card1">
            <!-- <img src="/img/data.gif" alt="" height="78px" width="78px"> -->
            <img src="img/animated img/anim6 (1).gif" alt="" height="185px" width="180px">
           <div class="cardhead3">
               <h1>Health</h1>
               <p class="left-hiro-para3">The Nepalese society can only truly flourish if our communities are healthy. That is why we invest in the health sector by establishing small-scale enterprises, working with doctors/ physicians/ pharmaceutical companies, and engaging with large hospital-based establishments. </p>
               <a href="https://aavatechnepal.com" target="_blank"><button class="btn gridBtn">Learn More</button></a>
              </div>
          </div>


           <div class="card1">
             <!-- <img src="/img/data.gif" alt="" height="78px" width="78px"> -->
             <img src="/img/animated img/anim2.gif" alt="" height="185px" width="180px">
            <div class="cardhead4">
                <h1>Secondary Markets</h1>
                <p class="left-hiro-para4">To stay ahead of inflation, build wealth and meet financial goals, Kalpabrikshya invests in secondary markets by purchasing stocks or listed companies and/or holding long-term shares. </p>

                <a href="https://aavatechnepal.com" target="_blank"><button class="btn gridBtn">Learn More</button></a>
               </div>
           </div>
    
        
        </div>
     
     </section> 




     
    <!-- <section class="hiro-sec" data-aos="fade-down">
        <div class="left-hiro mob-hero">
            <p class="left-hiro-para">About Kalpabrikshya</p>
            <h4 class="left-hiro-head head">we help our client to achive their <br> desire goal </h4>
           <p class="left-hiro-para2">Kalpabrikshya Holdings Pvt. Ltd. was established in October 2022  with a focus on strengthening <br> Nepalese enterprises, guided by core principles of integrity, innovation, collaboration, <br> professionalism, transparency and accountability. <br> <br> Our vision is to be recognized as a trustworthy and all-round partner capable <br> of ensuring maximum returns on your investments. <br> <br> Our mission is to transform into a listed public company in Nepal.</p>

           <h2 class="objectives">Our Objectives</h2>

           <div class="icon">
            <img src="/img/data.gif" alt="" height="78px" width="78px">
            <div class="iconheading">
                <h3>Agriculture</h3>
            <p>We invest in agri-businesses to help them both in the short and long-term. We do this by purchasing shares in agri-businesses that produce agricultural goods as well as medicinal/ herbal products. In addition to supporting pre-existing entities, Kalpabrikshya is also keen on commencing our own work in the agricultural sector.</p>

            <a href=""><Button class="btn objbtn">Larn More</Button></a>
            </div>
           </div>

           <div class="icon">
            <img src="/img/data.gif" alt="" height="78px" width="78px">
            <div class="iconheading">
                <h3>IT and Digitization</h3>
            <p>Kalpabrikshya’s investments in the IT and Digitization sector are done by applying our own marketing strategies as well as outsourcing work on marketing & consultancies.</p>

            <a href=""><Button class="btn objbtn">Larn More</Button></a>
                
            </div>
           </div>


           <div class="icon">
            <img src="/img/data.gif" alt="" height="78px" width="78px">
            <div class="iconheading">
                <h3>Tourism</h3>
            <p>At Kalpabrikshya, we know the value of investing in the travel & tourism sector of Nepal. We’re determined to put our country on the map as a leading destination for those looking to get away in the pristine Himalayas, explore vast tea gardens and immerse in the country’s unique cultures. We are keen to establish our own travel & tourism company, or invest in a partner with our shared vision</p>
            <a href=""><Button class="btn objbtn">Larn More</Button></a>
            </div>
           </div>


           <div class="icon">
            <img src="/img/data.gif" alt="" height="78px" width="78px">
            <div class="iconheading">
                <h3>Secondary Markets</h3>
            <p>To stay ahead of inflation, build wealth and meet financial goals, Kalpabrikshya invests in secondary markets by purchasing stocks or listed companies and/or holding long-term shares. </p>
            <a href=""><Button class="btn objbtn">Larn More</Button></a>
            </div>
           </div>



           <div class="icon">
            
            <img src="https://img.icons8.com/ios-filled/50/34ba82/euro-pound-exchange-1--v2.png"/>
            <a target="_blank" href="https://icons8.com/icon/gsPggM2S9aKA/euro-pound-exchange"></a>

            <div class="iconheading">
                <h3>Health</h3>
            <p class="paraff">The Nepalese society can only truly flourish if our communities are healthy. That is why we invest in the health sector by establishing small-scale enterprises, working with doctors/ physicians/ pharmaceutical companies, and engaging with large hospital-based establishments.</p>
            
            <a href=""><Button class="btn objbtn">Larn More</Button></a>         
            </div>         
           </div>
        </div>
        </div>
    <img class="right-hiro" src="/img/curveimg.png" alt="">  
    </section> -->


    <!-- why Kalpabrikshya section -->
    <!-- <h1 class="kalpaheading head">Why Kalpabrikshya ?</h1>
    <section class="whykalpa">
   
        <div class="kalparightsec">
            <img src="/img/animated img/anim1.gif" alt="">
        </div>

        <div class="kalparightsec">
            <p>What sets us apart at Kalpabrikshya is our unique approach to stable,
                sound and sustainable investing.  <br> <br>  Under each of our company’s objectives, and for every investment being considered, we put research and development at the heart of what we do <br> <br> A designated person from our unique team of multi-sectorial experts leads each project, making careful considerations along the way about how resources will be utilized for each purpose.</p>
               
        </div>

    </section> -->














<!--  ---------------------------- why Kalpabrikshya section --------------- full copy of top section -->


     <section class="hiro-sec whykalpasec" data-aos="fade-down">
        <div class="left-hiro mob-hero kalpaleftsec">
            <p class="kalpapara">Why Kalpabrikshya ?</p>

           <div class="icon">
            <img src="/img/data.gif" alt="" height="78px" width="78px">
            <div class="iconheading">
            <p>What sets us apart at Kalpabrikshya is our unique approach to stable, sound and sustainable investing. 
            </p>
            </div>
           </div>

           <div class="icon">
            <img src="/img/data.gif" alt="" height="78px" width="78px">
            <div class="iconheading">
              
            <p>Under each of our company’s objectives, and for every investment being considered, we put research and development at the heart of what we do.</p>                
            </div>
           </div>


           <div class="icon">
            <img src="/img/data.gif" alt="" height="78px" width="78px">
            <div class="iconheading">
            <p>A designated person from our unique team of multi-sectorial experts leads each project, making careful considerationsd</p>
            </div>
           </div>

        </div>
        </div>
    <!-- <img class="right-hiro" src="/img/curveimg.png" alt="">   -->
    <img class="kalpasecimg" src="/img/animated img/anim1.gif" alt="">
    </section>





<!-- ----------------------------latest project sectoin start from here---------------------------- -->

<section class="project-sec">
    <div class="latestpro">
     <p class="left-hiro-para">Our Investments</p>
     <h2 class="head">We Have Completed Latest Projects</h2>
    </div>

    <div class="projectimg">

       <div class="card1">
        <a href="/sathiseeds" target="_blank"><img class="imgpro" src="/img/animated img/SS.png" alt="this is sslogo"  height="350px" width="350px"></a>
       <div class="cardhead">
        <h1>investment Trading</h1>
        <p class="left-hiro-para">Trading</p>
       </div>
       </div>

       <div class="card1">
        <img class="imgpro" src="/img/logo.JPG" alt="this is aavalogo"  height="350px" width="350px">
        <div class="cardhead">
            <h1>investment Trading</h1>
            <p class="left-hiro-para">Trading</p>
           </div>
       </div>

       <!-- <div class="card1">
        <img class="imgpro" src="/img/size3.png" alt="">
        <div class="cardhead">
            <h1>investment Trading</h1>
            <p class="left-hiro-para">Trading</p>
           </div>
       </div>

       <div class="card1">
        <img class="imgpro" src="/img/size1.png" alt="">
        <div class="cardhead">
            <h1>investment Trading</h1>
            <p class="left-hiro-para">Trading</p>
           </div>
       </div>
     -->
    </div>
 
 </section> 

 <!-- video sectoin -->

<section class="demo">
    <!-- <img class="backvdo" src="/img/chartdark.jpg" alt=""> -->
    <img class="backvdo" src="/img/2 finance.jpg" alt="">
 
    <div class="backheading">    
        <!-- <h3>Watch Our Latest Video For <br> Better Innovation</h3> -->
        <img src="/img/motion_blur_02.png" alt="">
        <!-- <img src="/img/motion_blur_01.png" alt=""> -->
       <a href="https://youtu.be/6sEG4A9NaPU"> <img class="vdosample" src="/img/vdosample2.gif" alt=""><a>  

    </div>  
</section>












    
    <div class="testing"></div>



    <!-- testimonials -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- swipper -->
   <script>
     
   </script>

    <!-- Aos data animation -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            offset:300,
            duration:2000
        });
      </script>

      <!-- textanimation -->
      <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
      <script src="https://kit.fontawesome.com/58a810656e.js" crossorigin="anonymous"></script>
  
      <script>
          var typeData = new Typed(".role",{
              strings: [
                 "Business Opportunity",
                  "Invest Planning",
                  "Financial Consultancy",
                  "Business Advisor",
                 
              ],
              loop : true,
              typeSpeed: 90,
              backDelay : 2000,
          });
  
      </script>
  
</body>
</html>