<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <title>login</title>
</head>
<body>
    <form class="singupform" action="/login" method="post">
        <h3 class="formheading">Log in</h3>
        <p> Disclaimer ! Design is only for testing purpose 😊</p>
        <input type="email" name="email" id="" placeholder="Enter your Email">
        <input type="password" name="password" id="" placeholder="Enter your Password">
        <button class="btn" type="submit">Submit</button>
    </form>
    <p class="formconverter" >Not SignUp <a href="/signup">Sign Up Here</a> </p>
    
</body>
</html>