<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SathiSeeds</title>
    <link rel="stylesheet" href="/css/sathi.css">
</head>
<body>
    <nav class="seedNavbar">
        <img src="/img/kalpa50.png" alt="">
        <!-- <h3>logo</h3> -->
       
         <ul class="seednavlink">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/whykalpabrikshay">Why Kalpabrikshay</a></li>
            <li><a href="/ourinvestment">Our Investments</a></li>
            <li><a href="/contactus">Contact Us</a></li>
        </ul> 

        <!-- <button class="btn">Free Consultant</button> -->
    </nav>

    <h2>Our Investments</h2>
    <p>Since our inception, we have been working on establishing new and supporting existing Nepalese enterprises. Following are our current investments: 
    </p>
   

</body>
</html>