<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <form class="singupform" action="/signUp" method="post">
        <h3 class="formheading">Sign Up</h3>
        <p> Disclaimer ! Design is only for testing purpose 😊</p>
        <input type="text" name="name" id="" placeholder="Enter your Name">
        <input type="email" name="email" id="" placeholder="Enter your Email">
        <input type="password" name="password" id="" placeholder="Enter your Password">
        <input type="password" name="confPassword" id="" placeholder="Enter your confirmPassword">
        <input type="number" name="phone" id="" placeholder="Enter your Phone">
        <button class="btn" type="submit">Sign Up</button>       
    </form>
    <p class="formconverter" >Already SignUp <a href="/login">Login Here</a> </p>
    <!-- <a href="/login"><button>Login</button></a> -->
</body>
</html>